#imal{margin-left: 30%;
width: 40%;}
footer{margin-left 40%;
    background-color: rgb(128, 128, 125);}
    : 
 h3 font-family: "Playfair Display", serif;
 h3 font-optical-sizing: auto;
 h3 font-weight: <weight>;
 h3 font-style: normal;


   h1: "Quicksand", sans-serif;
  h1 font-optical-sizing: auto;
   h1: <weight>;
  h1 font-style: normal;
 }
 {background-color: rgb(145, 22, 22);}